<html>
<head>
  <meta charset='utf-8'>
  <title><%= filename %></title>
  <link href="stylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Queue Output printed on <%= Time.now.strftime("%d/%m/%Y at %H:%M") %>.</h1>
  
  <table class="table">
    <tr class="table_head"> 
      <th class="table_head">Last Name</th> <th class="table_head">First Name</th>
      <th class="table_head">Email</th> <th class="table_head">Zipcode</th>
      <th class="table_head">City</th> <th class="table_head">State</th>
      <th class="table_head">Address</th> <th class="table_head">Phone</th>
      <th class="table_head">District</th>
    </tr>
    
    <% queue_district if @queue_results.length < 11 %>
    <% no_districts_here if @queue_results.length > 10 %>
    <% @queue_results.each do |attendee| %>
      <tr class="table">
        <td class="table"><%= "#{attendee.last_name.capitalize}" %></td> 
        <td class="table"><%= "#{attendee.first_name.capitalize}" %></td> 
        <td class="table"><%= "#{attendee.email}" %></td> 
        <td class="table"><%= "#{attendee.zipcode}" %></td> 
        <td class="table"><%= "#{attendee.city.split.map(&:capitalize).join(" ")}" %></td> 
        <td class="table"><%= "#{attendee.state.upcase}" %></td> 
        <td class="table"><%= "#{attendee.street_address.split.map(&:capitalize).join(" ")}" %></td>
        <td class="table"><%= "#{attendee.phone_number}" %></td>
        <td class="table"><%= "#{attendee.district}" %></td>
      </tr>
    <% end %>

  </table>

</body>
</html>
